In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [2]:
# loading the dataset
credit_card_data = pd.read_csv('creditcard.csv')

In [10]:
credit_card_data.tail()
# Holy mf it has nearly 3Lakh data inputs!

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [4]:
# Amount in us dollar
# 0 -> Legit 1 -> Fraud
# Vectorized columns v1,v2....

In [5]:
# Dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
# check number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
# distribution of legit & fraud transaction
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [11]:
# more than 99% is in one particular datapoint which in this case legit(0)

In [12]:
## This dataset is highly UNBALANCED!

In [14]:
# Separating the data from analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [15]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [17]:
# Statistical measures of  the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [18]:
# here 25,50,75 are percentile not percentage

In [19]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [20]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [21]:
# Under-sampling
## Build a sample dataset containig similar distribution of legit & fraud transactions

legit_sample = legit.sample(n=492)

In [23]:
legit_sample.shape

(492, 31)

In [24]:
# Concat two dataframes
# axis = 0 -> add one by one rows
new_df = pd.concat([legit_sample,fraud],axis=0)

In [25]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
274610,166115.0,2.016406,-1.090509,0.277027,-0.407911,-1.382215,0.531099,-1.654824,0.338484,0.406844,...,-0.063926,0.463536,0.315222,0.677508,-0.490687,-0.318588,0.096357,-0.021167,5.00,0
146115,87454.0,1.932380,-1.014860,-0.979273,-1.479045,-0.713628,-0.638064,-0.494480,-0.169287,2.233576,...,0.297158,1.014735,-0.109962,-0.624375,0.054359,-0.000894,0.022376,-0.036831,93.48,0
217466,140901.0,1.817949,-0.740770,-1.002146,0.503249,-0.345563,-0.116735,-0.184796,0.072047,1.438745,...,-0.285852,-0.665898,0.145827,-0.420053,-0.100489,-0.340879,-0.019759,-0.055459,85.82,0
109406,71370.0,-0.588989,1.208322,0.388199,0.796488,-0.438062,-0.124092,0.556350,0.306842,-0.771360,...,0.204904,0.455892,-0.054000,0.004414,-0.139656,-0.344775,-0.259934,-0.070472,85.25,0
170013,119972.0,-0.492151,1.480022,-2.559914,0.402094,2.252312,1.075394,1.337667,0.138053,-0.612488,...,0.553759,2.205193,0.018563,-0.886205,-1.293650,-0.405624,-0.589899,-0.430654,30.00,0

In [26]:
new_df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [27]:
# Now data is uniformely distributed

In [28]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93884.859756,-0.062151,-0.020386,0.069036,0.025203,-0.090097,-0.119701,-0.089179,0.057220,0.123826,...,-0.030620,0.030294,-0.012925,0.029584,0.011468,-0.001826,-0.015761,-0.076881,0.015272,70.986301
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [29]:
# here we can understand is nature of the data remains similar even after
# we took only 492 rows. Just look the mean differences of V1 in credit_card_data and new_df

In [30]:
# Splitting the data into features and targets
X = new_df.drop(columns='Class',axis=1)
Y = new_df['Class']

In [31]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
274610,166115.0,2.016406,-1.090509,0.277027,-0.407911,-1.382215,0.531099,-1.654824,0.338484,0.406844,...,-0.568938,-0.063926,0.463536,0.315222,0.677508,-0.490687,-0.318588,0.096357,-0.021167,5.00
146115,87454.0,1.932380,-1.014860,-0.979273,-1.479045,-0.713628,-0.638064,-0.494480,-0.169287,2.233576,...,0.037465,0.297158,1.014735,-0.109962,-0.624375,0.054359,-0.000894,0.022376,-0.036831,93.48
217466,140901.0,1.817949,-0.740770,-1.002146,0.503249,-0.345563,-0.116735,-0.184796,0.072047,1.438745,...,-0.176921,-0.285852,-0.665898,0.145827,-0.420053,-0.100489,-0.340879,-0.019759,-0.055459,85.82
109406,71370.0,-0.588989,1.208322,0.388199,0.796488,-0.438062,-0.124092,0.556350,0.306842,-0.771360,...,-0.229845,0.204904,0.455892,-0.054000,0.004414,-0.139656,-0.344775,-0.259934,-0.070472,85.25
170013,119972.0,-0.492151,1.480022,-2.559914,0.402094,2.252312,1.075394,1.337667,0.138053,-0.612488,...,-0.254767,0.553759,2.205193,0.018563,-0.886205,-1.293650,-0.405624,-0.589899,-0.430654,30.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [32]:
Y

274610    0
146115    0
217466    0
109406    0
170013    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [36]:
# Split the data into Training and Testing

x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.2, stratify=Y, random_state=2)

# stratify used to stratify based on Y
# to maintain distribution of 1 and 0 in training and testing data

In [37]:
# Model Training using Logistic Regression for Binary CLassification model

model = LogisticRegression()

In [39]:
# training the LR model with training data
model.fit(x_train,y_train)
# y_train has corresponding label for X_train feature

LogisticRegression()

In [40]:
# Model Evaluation on accuracy score on training data

x_train_pred = model.predict(x_train)
training_data_acc = accuracy_score(x_train_pred,y_train)

training_data_acc

0.9199491740787802

In [41]:
# accuracy score on Test data

x_test_pred = model.predict(x_test)
testing_data_acc = accuracy_score(x_test_pred,y_test)

testing_data_acc

0.9035532994923858

In [43]:
print(f"Accuracy score of training data = {training_data_acc}\nAccuracy score of Test data = {testing_data_acc}")

Accuracy score of training data = 0.9199491740787802
Accuracy score of Test data = 0.9035532994923858

In [ ]:
# So why we did accuracy prediction on training data?
# If the training data accuracy came 50% then it means we overfit the data
# If we get low train data accuracy and very high test data accuracy then model is underfitted